@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 15 23 42;
}

.dark {
  --bg: 2 6 23;
  --fg: 226 232 240;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}

.container {
  @apply mx-auto max-w-6xl px-4;
}

.btn {
  @apply inline-flex items-center justify-center rounded-2xl px-4 py-2 font-medium shadow-sm transition;
  @apply bg-brand text-white hover:bg-brand-700;
}

.btn-outline {
  @apply inline-flex items-center justify-center rounded-2xl px-4 py-2 font-medium transition border;
  @apply border-slate-300 dark:border-slate-700 hover:bg-slate-100 dark:hover:bg-slate-900;
}
